.header-wrapper {
    height: 3.5rem;
}

.header {
    padding: 0 3rem;
    position: fixed;
    height: 3.5rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1;
    font-size: 1.5rem;
    background-color: #344966;
    box-shadow: 0 2px 2px #34496654;
}
