.select {
    background-color: white;
    color: rgb(52, 52, 52);
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    border: 1px solid rgba(124, 124, 124, 0.8);
    text-transform: capitalize;
    transition: all 0.3s;
}

.select:focus,
.select:hover {
    border-color: #344966;
    color: #344966;
    box-shadow: 0 0 1px #344966;
}

.select option {
    outline: 2px solid #344966;
    text-transform: capitalize;
}
