.product {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 340px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 0 0 240px;
    padding: 1rem;
}

.product:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.product :global(.img-container) {
    height: 180px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product img {
    max-height: 90%;
    max-width: 90%;
}

.product :global(.text-header) {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 0.875rem;
    color: #344966;
    margin: 1rem 0 0.625rem;
}

.product :global(.title) {
    flex: 0.7;
}

.product :global(.price) {
    flex: 0.2;
    font-size: 1.125rem;
    text-align: end;
}

.product :global(.text-body) {
    margin-top: auto;
    font-weight: 400;
    font-size: 0.8rem;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .product {
        width: 100%;
        height: max-content;
        flex-direction: row;
        flex: 1 0 100%;
    }

    .product :global(.img-container) {
        height: 10rem;
        min-width: 10rem;
        max-width: 10rem;
    }

    .product :global(.text-container) {
        padding: 0.25rem 1rem 0;
        max-height: 10rem;
    }

    .product :global(.text-header) {
        font-size: 1rem;
        margin: 0 0 0.5rem;
    }
}

@media (max-width: 540px) {
    .product :global(.img-container) {
        height: 5rem;
        min-width: 5rem;
        max-width: 5rem;
    }

    .product :global(.title) {
        flex: 0.7;
        font-size: 0.75rem;
    }

    .product :global(.price) {
        font-size: 1rem;
    }
    .product :global(.text-body) {
        font-size: 0.675rem;
    }
}

@media (max-width: 400px) {
    .product :global(.text-container) {
        padding: 0.125rem 0.25rem 0;
        max-height: 10rem;
    }
    .product :global(.img-container) {
        height: 5rem;
        min-width: 3rem;
        max-width: 3rem;
    }
    .product :global(.title) {
        flex: 0.8;
        font-size: 0.6rem;
    }

    .product :global(.price) {
        font-size: 0.75rem;
    }
    .product :global(.text-body) {
        font-size: 0.5rem;
    }
}
